{# base.html #}

{% content %}
<script>
function postJSON(postUrl, postData) {
    $.ajax({
        async: false,
        type: "POST",
        url: postUrl,
        data: postData,
        dataType: "json",
        contentType: "application/json",
        success: function() { alert("完成"); }
    });
}

function domainauth(url) {
    var domains = document.getElementById("domains").value;
    var users = document.getElementById("users").value;
    var data = JSON.stringify({"domains": domains, "users": users});
    postJSON(url, data);
}

function domainauthadd() {
    var url = "/profile/domainauthadd";
    domainauth(url);
}

function domainauthdel() {
    var url = "/profile/domainauthdel";
    domainauth(url);
}

function statpage(s) {
    var url = "/profile/domainstat",
        num = 20,
        id = "statpage";
    page(s, url, num, id, "domainstat");
}

function domainstat(s) {
    var url = "/profile/domainstat",
        num = 20,
        id = "domainstat";
    pageContent(s, url, num, id, statpage);
}

domainstat();

function statuspage(s) {
    var url = "/profile/domainstatus",
        num = 20,
        id = "statuspage";
    page(s, url, num, id, "domainstatus");
}

function domainstatus(s) {
    var url = "/profile/domainstatus",
        num = 20,
        id = "domainstatus";

    if(!s) {
        s = 1;
    }
    var st = (s - 1) * num;
    var url = url + "?num=" + num.toString() + "&start=" + st;
    $.getJSON(url, function(jsonData) {
        var contenthtml = "";
        for (i in jsonData) {
            contenthtml += "<tr>";
            for (j in jsonData[i]) {
                contenthtml += "<td>" + jsonData[i][j] + "</td>";
            }
            contenthtml += '<td><button class="btn btn-warning">删除</button></td>'
            contenthtml += "</tr>";
        }
        document.getElementById(id).innerHTML = contenthtml;
    });
    statuspage(s);
}

domainstatus();

function domainstatdomain() {
    var domain = document.getElementById("domainstatdomain").value;
    var url = "/profile/domainstatdomain?domain=" + domain;
    $.getJSON(url, function(jsonData) {
        domainhtml = "<tr><td>" + domain + "</td><td>" + jsonData[domain] + "</td></tr>";
        document.getElementById("domainstat").innerHTML = domainhtml;
        document.getElementById("statpage").innerHTML = "";
    });
}

function domainstatusadd() {
    var url = '/profile/domainstatusadd',
        domain = document.getElementById("domain").value,
        uri = document.getElementById("uri").value,
        rmin = document.getElementById("rmin").value,
        rmax = document.getElementById("rmax").value,
        data = JSON.stringify({"domain": domain, "uri": uri, "rmin": rmin, "rmax": rmax});
    postJSON(url, data);
}
</script>
<div class="col-lg-1">
</div>
<div class="col-lg-10">
<legend>授权域名</legend>
<div class="row">
    <div class="col-lg-4">
        <label for="domains"><span>管理域名</span></label>
        <textarea type="text" class="form-control" rows="1" id="domains" name="domains" placeholder="以逗号隔开,all代表所有域名,主域名会自动授权别名"></textarea>
    </div>
    <div class="col-lg-4">
        <label for="users"><span>授权用户</span></label>
        <textarea type="text" class="form-control" rows="1" id="users" name="users" placeholder="以逗号隔开,使用邮箱"></textarea>
    </div>
</div>
<br>
<button class="btn btn-success" onclick="domainauthadd()">确认授权</button>
<button class="btn btn-warning" onclick="domainauthdel()">取消授权</button>
<br>
<br>
<br>
<br>
<legend>API调用KEY</legend>
<script type="text/python">
    echo '<h4><strong>key: </strong><code>%s</code><h4><h3><small>例: <code>http://api.dpool.cluster.sina.com.cn/info/data?domain=www.example.com&user=%s&key=%s</code></small></h3>' % (Tdict["key"], Tdict["user"], Tdict["key"])
</script>
<br>
<br>
<br>
<legend>域名授权状态</legend>
<div class="row">
    <div class="col-lg-3">
        <input type="text" class="form-control" id="domainstatdomain" placeholder="域名">
    </div>
    <button class="btn btn-primary" onclick="domainstatdomain()">查看</button>
</div>
<br>
<div id="stat">
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>域名</th>
            <th>授权用户</th>
        </tr>
    </thead>
    <tbody id="domainstat">
    </tbody>
</table>
<ul class="pagination" id="statpage">
</ul>
</div>
</div>
{% end %}
