<!doctype html>
<html>
<title>
动态平台
</title>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.1.0/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/cluster.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap-3.1.0/js/bootstrap.min.js"></script>
{+ head +}
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">动态平台 <i class="glyphicon glyphicon-home"></i></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/config">配置管理</a></li>
                <li><a href="/status">访问统计</a></li>
                <li><a href="/mon">实时监控</a></li>
                <li><a href="/util">附加功能</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{$ user $}</a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile">设置</a></li>
                        <li><a href="/logout">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
<div class="row">
<div class="col-md-1">
{+ side +}
</div>
<div class="col-md-10">
{+ content +}
</div>
</div>
</div>
</body>
</html>
