{# base.html #}

{% content %}
<form class="well form-inline" action="/info" method="get">
    <select class="span2" name="idc">
        <option value="">机房</option>
<script type="text/python">
    for idc, idc_cn in Tdict["idc"].iteritems():
        if idc == Tdict["qidc"]:
            echo '<option value="%s" selected="selected">%s</option>' % (idc.encode("utf-8"), idc_cn.encode("utf-8"))
        else:
            echo '<option value="%s">%s</option>' % (idc.encode("utf-8"), idc_cn.encode("utf-8"))
</script>
    </select>
    <select class="span2" name="mod">
        <option value="">模块</option>
<script type="text/python">
    for mod, mod_cn in Tdict["mod"].iteritems():
        if mod == Tdict["qmod"]:
            echo '<option value="%s" selected="selected">%s</option>' % (mod.encode("utf-8"), mod_cn.encode("utf-8"))
        else:
            echo '<option value="%s">%s</option>' % (mod.encode("utf-8"), mod_cn.encode("utf-8"))
</script>
    </select>
    <input class="span2" type="text" name="ip" placeholder="IP" value="{$ qip $}">
    <input id="domain" type="text" autocomplete="off" name="domain" placeholder="域名" style="margin: 0 auto;" data-provide="typeahead" value="{$ qdomain $}">
    <button type="submit" class="btn btn-primary">查看</button>
</form>

{% end %}
