{# base.html #}

{% side %}
<div class="side-nav">
<legend>配置管理</legend>
<ul class="nav nav-pills nav-stacked">
    <li>
        <a href="/config/pub">文件审核</a>
    </li>
    <li>
        <a href="/config/issue">下发日志</a>
    </li>
    <li>
        <a href="/config/list">配置编辑</a>
    </li>
    <li>
        <a href="/config/node">节点树形</a>
    </li>
</ul>
</div>
{% end %}

{% content %}
<script>
    function postJSON(postUrl, postData) {
        $.ajax({
            async: false,
            type: "POST",
            url: postUrl,
            data: postData,
            dataType: "json",
            contentType: "application/json"
        });
    }
</script>
{+ config +}
{% end %}
