{# config.html #}

{% config %}
<script>
    function save(){
        var name = document.getElementById("name").value;
        var path = document.getElementById("path").value;
        var owner = document.getElementById("owner").value;
        var perm = document.getElementById("perm").value;
        var group = document.getElementById("group").value;
        var cmd0 = window.btoa(document.getElementById("cmd0").value);
        var cmd1 = window.btoa(document.getElementById("cmd1").value);
        var textData = window.btoa(document.getElementById("data").value);
        var author = "{$ user $}";
        var url = "/config/edit/post";
        var data = JSON.stringify({"name": name, "path": path, "owner": owner, "perm": perm, "group": group,"cmd0": cmd0, "cmd1": cmd1, "data": textData, "author": author});
        postJSON(url, data);
    }

    function pub(name, version) {
        var url = "/config/pub/post";
        var data = JSON.stringify({"name": "publish", "sauthor": "caoyu2", "file": name, "fileversion": parseInt(version)});
        postJSON(url, data);
        window.location.href="/config/pub";
    }

</script>
<div class="row">
    <div class="col-lg-3">
        <label for="name"><span>名称:</span></label>
        <input type="text" class="form-control" id="name" name="name" value="{$ name $}">
    </div>
    <div class="col-lg-3">
        <label for="path"><span>路径:</span></label>
        <input type="text" class="form-control" id="path" name="path" value="{$ path $}">
    </div>
    <div class="col-lg-2">
        <label for="owner"><span>所有者:</span></label>
        <input type="text" class="form-control" id="owner" name="owner" value="{$ owner $}">
    </div>
    <div class="col-lg-2">
        <label for="perm"><span>权限:</span></label>
        <input type="text" class="form-control" id="perm" name="perm" value="{$ perm $}">
    </div>
    <div class="col-lg-2">
        <label for="group"><span>分组:</span></label>
        <input type="text" class="form-control" id="group" name="group" value="{$ group $}">
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-6">
        <label for="cmd0"><span>下发前命令:</span></label>
<script>
    var cmd0 = window.atob("{$ cmd0 $}");
    document.write('<textarea class="form-control" rows="1" id="cmd0" name="cmd0">' + cmd0 + '</textarea>');
</script>
    </div>
    <div class="col-lg-6">
        <label for="cmd1"><span>下发后命令:</span></label>
<script>
    var cmd1 = window.atob("{$ cmd1 $}");
    document.write('<textarea class="form-control" rows="1" id="cmd1" name="cmd1">' + cmd1 + '</textarea>');
</script>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-12">
    <label for="data"><span>最近修改: {$ author $} 于 {$ mtime $}</span></label>
<script>
    var data = window.atob("{$ data $}");
    document.write('<textarea class="form-control" rows="20" id="data" name="data">' + data + '</textarea>');
</script>
    </div>
</div>
<br>
<div class="pull-right">
<script type="text/python">
        #if not Tdict["disabled"]:
        echo '''<button type="submit" class="btn btn-success" onclick="save()">保存</button>'''
        #else:
        #    echo '''<button type="submit" class="btn btn-success disabled" id="denysave">保存</button>'''
</script>
            <button type="submit" class="btn btn-primary" onclick='pub("{$ name $}", "{$ version $}")'>分发</button>
</div>
<!--</form>-->
{% end %}
