{# config.html #}

{% config %}
<script>
    function pub(name) {
        alert(name);
        $.ajax({
            async: false,
            type: "POST",
            url: "/config/pub/post",
            data: JSON.stringify({"name": "publish", "sauthor": "caoyu2", "file": name}),
            dataType: "json",
            contentType: "application/json"
        });
        window.location.href="/config/pub"
    }
</script>
<legend>配置编辑<a href="/config/edit?name=add"><button class="btn btn-success pull-right">添加</button></a></legend>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
        <th>文件名</th>
        <th>路径</th>
        <th>分组</th>
        <th>最后修改时间</th>
        <th>修改者</th>
        <th>操作</th>
        <tr>
    </thead>
    <tbody>
<script type="text/python">
    for conf in Tdict.keys():
        print Tdict[conf]
        echo '''<tr>
<td><a href="/config/edit?name=%s">%s</a></td>
<td>%s</td>
<td>%s</td>
<td>%s</td>
<td>%s</td>''' % (Tdict[conf]["name"].encode('utf-8'), Tdict[conf]["name"].encode('utf-8'), Tdict[conf]["path"].encode('utf-8'), Tdict[conf]["group"].encode('utf-8'), Tdict[conf]["mtime"].encode('utf-8'), Tdict[conf]["author"].encode('utf-8'))
        echo '''<td class="span3">
<span class="pull-left">
<a href="/config/edit?name=%s"><button class="btn btn-success">编辑</button></a>
<a href="/config/version?name=%s"><button class="btn btn-success">版本</button></a>
<button class="btn btn-primary" onclick='pub("%s")'>分发</button>
</span>
</td></tr>''' % (Tdict[conf]["name"].encode('utf-8'), Tdict[conf]["name"].encode('utf-8'), Tdict[conf]["name"].encode('utf-8'))
</script>
    </tbody>
</table>
{% end %}
