<!doctype html>
<html>
<title>
vhost edit
</title>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
</head>
<body>
    <ul class="breadcrumb">
    <li>
    <a href="#">首页</a> <span class="divider"></span>
    </li>
    <li>
    <a href="#">编辑</a> <span class="divider"></span>
    </li>
    <li class="active">下发</li>
    </ul>
    <div class="container-fluid">
    <div class="row-fluid">
    <div class="span2">
    </div>
    <div class="span10">
    <form class="form-horizontal">
    <fieldset>
    <legend>配置管理</legend>
    <div class="control-group">
    <label class="control-label" for="input01">主域名</label>
    <div class="controls">
    <input type="text" class="span5" id="input01">
    <p class="help-block">字母，数字，汉字皆可</p>
    </div>
    </div>
    <div class="control-group">
        <label for="textarea" class="control-label">项目别名</label>
        <div class="controls">
          <textarea rows="4" id="textarea" class="span5"></textarea>
        </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="input01">管理员</label>
    <div class="controls">
    <input type="text" class="span5" id="input01">
    </div>
    </div>
    </fieldset>
    </form>
    </div>
    </div>
    </div>
</body>
</html>
