{# status.html #}

{% table %}
<script type="text/python">
    echo '''<td><a href="http://%s/exmon/?c=dpool-%s-%s&h=%s&m=load_one&r=hour&s=by%%20name&hc=4&mc=2">%s</a></td>
<td>%d</td>
<td>%d</td>
<td>%d</td>
<td>%d</td>
<td><button class="btn %s">%s</button></td>
''' % (str(Tdict["gmond"]), str(Tdict["net_idc"]), Tdict["module"].title(), Tdict["ip"], Tdict["ip"], Tdict["stat"][0], Tdict["stat"][1]/1024.0, Tdict["stat"][2], Tdict["stat"][3], Tdict["stat"][-1][0], Tdict["stat"][-1][1])
</script>
{% end %}

{% images %}
<div class="row">
<script type="text/python">
    #print '<img src="http://%s/exmon/graph.php?r=hour&z=small&c=dpool-%s-%s&h=%s&m=cpu_idle&vl=%%25", align="left"></img>' % (str(Tdict["gmond"]), str(Tdict["net_idc"]), Tdict["module"].title(), Tdict["ip"])
    echo '<div class="span3"><img src="http://%s/exmon/graph.php?r=hour&z=small&c=dpool-%s-%s&h=%s&m=cpu_idle&vl=%%25"></img></div>' % (str(Tdict["gmond"]), str(Tdict["net_idc"]), Tdict["module"].title(), Tdict["ip"])
    echo '<div class="span3"><img src="http://%s/exmon/graph.php?r=hour&z=small&c=dpool-%s-%s&h=%s&m=mem_free&vl=MB"></img></div>' % (str(Tdict["gmond"]), str(Tdict["net_idc"]), Tdict["module"].title(), Tdict["ip"])
    echo '<div class="span3"><img src="http://%s/exmon/graph.php?r=hour&z=small&c=dpool-%s-%s&h=%s&m=hits&vl=hits/s"></img></div>' % (str(Tdict["gmond"]), str(Tdict["net_idc"]), Tdict["module"].title(), Tdict["ip"])
    echo '<div class="span3"><img src="http://%s/exmon/graph.php?r=hour&z=small&c=dpool-%s-%s&h=%s&m=httpd&vl=Processes"></img></div>' % (str(Tdict["gmond"]), str(Tdict["net_idc"]), Tdict["module"].title(), Tdict["ip"])
</script>
</div>
{% end %}
