{# base.html #}

{% content %}
<div class="btn-group">
    <button class="btn btn-primary">池子</button>
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">web3</a></li>
        <li><a href="#">web2</a></li>
    </ul>
</div>
<div class="control-group">
    <label class="control-label" for="select01">池子</label>
    <div class="controls">
        <select id="select01">
            <option>请选择</option>
            <option>web2</option>
            <option>web3</option>
        </select>
    </div>
</div>
{+ content_new +}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
        <th>IP</th>
        <th>状态</th>
        <tr>
    </thead>
    <tbody>
<script type="text/python">
    for i in Tdict["ip"]:
        echo '<tr><td>%s</td><td><button class="btn btn-success">良好</button></td></tr>' % i
</script>
    </tbody>
</table>
{% end %}
