{# base.html #}

{% head %}
<script type="text/javascript" src="/static/highcharts/js/highcharts.js"></script>
<script>
$(function () {
    $(document).ready(function() {
        Highcharts.theme = {
           colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'],
           chart: {
              backgroundColor: {
                 linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
                 stops: [
                    [0, 'rgb(255, 255, 255)'],
                    [1, 'rgb(240, 240, 255)']
                 ]
              },
              borderColor: '#e3e3e3',
              borderWidth: 2,
              plotBackgroundColor: 'rgba(255, 255, 255, .9)',
              plotShadow: true,
              plotBorderWidth: 1
           },
           title: {
              style: {
                 color: '#000',
                 font: '14px "Trebuchet MS", Verdana, sans-serif'
              }
           },
           subtitle: {
              style: {
                 color: '#666666',
                 font: 'bold 12px "Trebuchet MS", Verdana, sans-serif'
              }
           },
           xAxis: {
              gridLineWidth: 1,
              lineColor: '#000',
              tickColor: '#000',
              labels: {
                 style: {
                    color: '#000',
                    font: '11px Trebuchet MS, Verdana, sans-serif'
                 }
              },
              title: {
                 style: {
                    color: '#333',
                    fontWeight: 'bold',
                    fontSize: '12px',
                    fontFamily: 'Trebuchet MS, Verdana, sans-serif'
        
                 }
              }
           },
           yAxis: {
              //minorTickInterval: 'auto',
              lineColor: '#000',
              lineWidth: 1,
              tickWidth: 1,
              tickColor: '#000',
              labels: {
                 style: {
                    color: '#000',
                    font: '11px Trebuchet MS, Verdana, sans-serif'
                 }
              },
              title: {
                 style: {
                    color: '#333',
                    fontWeight: 'bold',
                    fontSize: '12px',
                    fontFamily: 'Trebuchet MS, Verdana, sans-serif'
                 }
              }
           },
           legend: {
              itemStyle: {
                 font: '9pt Trebuchet MS, Verdana, sans-serif',
                 color: 'black'
        
              },
              itemHoverStyle: {
                 color: '#039'
              },
              itemHiddenStyle: {
                 color: 'gray'
              }
           },
           labels: {
              style: {
                 color: '#99b'
              }
           },
        
           navigation: {
              buttonOptions: {
                 theme: {
                    stroke: '#CCCCCC'
                 }
              }
           }
        };

        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        Highcharts.setOptions(Highcharts.theme);

        $("#chartContainer").highcharts({
            chart: {
                type: "spline",
                plotBorderWidth: 0,
            },
            title: {
                text: "{$ title $}",
            },
            xAxis: {
                type: "datetime",
                tickPixelInterval: 150,
                dateTimeLabelFormats: {
                    day: "%m/%d %H:%M",
                }
            },
            yAxis: {
                title: {
                    text: "hit/s",
                },
                min: -2,
                startOnTick: false
            },
            credits: {
                enabled: false,
                text: ''
            },
            plotOptions: {
                spline: {
                    /*events: {
                        legendItemClick: function() {
                            location.href = "http://" + location.hostname + "/status";
                        }
                    },*/
                    marker: {
                        enabled: false
                    },
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                },
                series: {
                    cursor: "pointer",
                    /*events: {
                        click: function() {
                            location.href = "http://" + location.hostname + "/mon/data";
                        }
                    }*/
                },
            },
            tooltip: {
                formatter: function() {
                    return '<b>' + this.series.name + '</b><br>' + 
                    Highcharts.dateFormat('%m/%d %H:%M', this.x) + '<br/>' + 
                    Highcharts.numberFormat(this.y, 0);
                }
            },
            series: [],
        });

        var url = "/status/high/data?{$ query_string $}";
        addData(url, "{$ title $}");
    });
});


function addData(url, title) {
    $.getJSON(url, function(data) {
        var chart = $("#chartContainer").highcharts();
        var offset = parseInt(data[0]) * 1000,
            start = parseInt(data[1]) * 1000
            datas = data[2],
            sumData = [],
            maxData = 0,
            maxIndex = 0;
        while (chart.series.length > 0) {
            chart.series[0].remove(true);
        }
        chart.counters.color = 0;
        chart.counters.symbol = 0;
        for (var k in datas ) {
            $.each(datas[k], function(key, val) {
                if (k == 0) {
                    maxData = Math.max.apply(Math, val);
                    maxIndex = val.indexOf(maxData.toString());
                }
                chart.addSeries({
                    name: key,
                    data: (function() {
                        var data = [],
                            len = val.length;
                        for (i=0; i<len; i++) {
                            data.push({
                                x: start + offset * i,
                                y: (val[i] ? parseInt(val[i]) : 0) / 60
                            });
                            if (k == 0) {
                                sumData.push(data[i]["y"]);
                            }
                        }
                        return data;
                    })()
                })
            });
        }
        sumData = eval(sumData.join('+')) * 60;
        sumData = numberFix(sumData * (offset / (60 * 1000)), 2);
        maxDate = dateFormat((start + maxIndex * offset) / 1000);
        if (offset / 1000 <= 60) {
            maxTime = maxDate[3] + ':' + maxDate[4];
        } else {
            maxTime = maxDate[1] + '/' + maxDate[2] + ' ' + maxDate[3] + ':' + maxDate[4];
        }
        maxData = numberFix(maxData / 60, 2);
        title = [title, maxTime, maxData, sumData].join(' ');
        chart.setTitle({"text": title});
        chart.redraw();
    });
}

function update(t) {
    var url_suffix = "";
    if (document.getElementById("domainstatus")) {
        var rtime_id = document.getElementById("rtime"),
            rtime = 'rtime=' + rtime_id.options[rtime_id.selectedIndex].value,
            uri_id = document.getElementById("uri"),
            uri = 'uri=' + uri_id.options[uri_id.selectedIndex].value,
        url_suffix = [rtime, uri].join('&');
    }
    if (url_suffix) {
        var url = "/status/high/data?date=" + t + "&{$ query_string $}" + '&' + url_suffix;
    } else {
        var url = "/status/high/data?date=" + t + "&{$ query_string $}";
    }
    addData(url, "{$ title $}");
};

function domainStatus() {
    var domain_status = {$ domain_status $};
    if (domain_status == 0) {
        return 0
    }
    var domainstatus = '';
    $.each(domain_status, function(key, val) {
        if (key == "rtime") {
            domainstatus += '<div class="col-lg-2"><select id="rtime" name="rtime" class="form-control"><option value="">处理时间</option>';
            len = val.length;
            var i = 0;
            while (i < len) {
                value = val[i][0].toString() + '_' + val[i][1].toString();
                value_s = val[i][0].toString() + '~' + val[i][1].toString() + 's';
                domainstatus += '<option value="' + value + '">' + value_s + '</option>';
                i += 1;
            }
            domainstatus += '</select></div>';
        }
        if (key == "uri") {
            domainstatus += '<div class="col-lg-2"><select id="uri" name="uri" class="form-control"><option value="">请求uri</option>';
            for (var i in val) {
                domainstatus += '<option value="' + val[i] + '">' + val[i] + '</option>';
            }
            domainstatus += '</select></div>';
        }
    });
    domainstatus += '<button class="btn btn-primary" onclick="updateDomain()">查看</button>';
    document.getElementById("domainstatus").innerHTML = domainstatus;
};

function updateDomain() {
    var rtime_id = document.getElementById("rtime"),
        rtime = 'rtime=' + rtime_id.options[rtime_id.selectedIndex].value,
        uri_id = document.getElementById("uri"),
        uri = 'uri=' + uri_id.options[uri_id.selectedIndex].value,
        url = "/status/high/data?{$ query_string $}",
    url = url + '&' + [rtime, uri].join('&');
    title = "{$ title $}";
    addData(url, title);
};

</script>
{% end %}

{% content %}
<div class="col-lg-1">
</div>
<div class="col-lg-10">
<form class="" role="form" action="/status" method="get">
<div class="row">
    <div class="col-lg-2">
    <select class="form-control" name="idc">
        <option value="">机房</option>
<script type="text/python">
    for idc, idc_cn in Tdict["idc"].iteritems():
        if idc == Tdict["qidc"]:
            echo '<option value="%s" selected="selected">%s</option>' % (idc, idc_cn)
        else:
            echo '<option value="%s">%s</option>' % (idc, idc_cn)
</script>
    </select>
    </div>
    <div class="col-lg-2">
    <select class="form-control" name="mod">
        <option value="">模块</option>
<script type="text/python">
    for mod, mod_cn in Tdict["mod"].iteritems():
        if mod == Tdict["qmod"]:
            echo '<option value="%s" selected="selected">%s</option>' % (mod, mod_cn)
        else:
            echo '<option value="%s">%s</option>' % (mod, mod_cn)
</script>
    </select>
    </div>
    <div class="col-lg-2">
    <select class="form-control" name="date">
        <option value="">日期</option>
<script type="text/python">
    for t in Tdict["dates"]:
        if t == Tdict["qdate"]:
            echo '<option value="%s" selected="selected">%s</option>' % (t, t)
        else:
            echo '<option value="%s">%s</option>' % (t, t)
</script>
    </select>
    </div>
    <div class="col-lg-3">
    <input class="form-control" id="domain" type="text" name="domain" placeholder="域名" value="{$ qdomain $}">
    </div>
    <button type="submit" class="btn btn-primary">查看</button>
</div>

<p>
<div class="row">
<script type="text/python">
    if Tdict["domain_status"].has_key("uri"):
        echo '''<div class="col-lg-2"><select class="form-control" name="uri"><option value="">请求uri</option>'''
        for uri in Tdict["domain_status"]["uri"]:
            #if uri == Tdict["quri"]:
            #    echo '<option value="%s" selected="selected">%s</option>' % (uri, uri)
            #else:
            echo '<option value="%s">%s</option>' % (uri, uri)
        echo '</select></div>'
    if Tdict["domain_status"].has_key("rtime"):
        echo '''<div class="col-lg-2"><select class="form-control" name="rtime"><option value="">处理时间</option>'''
        for rmin, rmax in Tdict["domain_status"]["rtime"]:
            rtime = '_'.join([str(rmin), str(rmax)])
            rtime_s = '~'.join([str(rmin), str(rmax)]) + 's'
            #if rtime == Tdict["qrtime"]:
            #    echo '<option value="%s" selected="selected">%s</option>' % (rtime, rtime_s)
            #else:
            echo '<option value="%s">%s</option>' % (rtime, rtime_s)
        echo '</select></div>'
</script>
</div>
</p>
</form>


<!--<center><div class="alert alert-success" id="sumdata"></div></center>-->

<p>
    <input class="btn btn-default" type="button" onClick='update("week");' value="1周"></input>
    <input class="btn btn-default" type="button" onClick='update("day");' value="1天"></input>
    <input class="btn btn-default" type="button" onClick='update("4hour");' value="4小时"></input>
    <input class="btn btn-default" type="button" onClick='update("hour");' value="1小时"></input>
    <input class="btn btn-default" type="button" onClick='update("30min");' value="30分"></input>
</p>


<div id="chartContainer"></div>

<br> 

</div>
{% end %}
