{# base.html #}

{% head %}
<script type="text/javascript" src="/static/highcharts/js/highcharts.js"></script>
{% end %}

{% content %}
<div id="charts"></div>
<script>
var urls = eval("{$ urls $}"),
    multi = "{$ multi $}",
    chartsHtml = "";

if (multi == 1) {
    $.each(urls, function(n, url) {
        var id = "url_id" + n;
        chartsTemplate("#" + id);
        chartsData([url], "#" + id);
        chartsHtml += '<div id="' + id + '" style="height: 100%; width: 80%; margin: 0 auto; padding: 15px;"></div>';
    });
} else {
    chartsTemplate();
    chartsData(urls);
    chartsHtml = '<div id="chartContainer" style="height: 100%; width: 80%; margin: 0 auto; padding: 15px;"></div>';
}

document.getElementById("charts").innerHTML = chartsHtml;
</script>
{% end %}
