{# base.html #}

{% head %}
<script type="text/javascript" src="/static/highcharts/js/highcharts.js"></script>
<script>
var url = "/status/high/data?{$ query_string $}";
chartsTemplate();
chartsData([url], "#chartContainer", 1);


function update(t) {
    var url_suffix = "";
    if (document.getElementById("domainstatus")) {
        var rtime_id = document.getElementById("rtime"),
            rtime = 'rtime=' + rtime_id.options[rtime_id.selectedIndex].value,
            uri_id = document.getElementById("uri"),
            uri = 'uri=' + uri_id.options[uri_id.selectedIndex].value,
        url_suffix = [rtime, uri].join('&');
    }
    if (url_suffix) {
        var url = "/status/high/data?date=" + t + "&{$ query_string $}" + '&' + url_suffix;
    } else {
        var url = "/status/high/data?date=" + t + "&{$ query_string $}";
    }
    chartsData([url], "#chartContainer", 1);
};

function rtimeChange(obj) {
    var uri_rtime = JSON.parse('{$ domain_uri_rtime $}'),
        rtimes = uri_rtime[obj.value],
        selecthtml = '<option value="">处理时间</option>';
    var length = 0;
    if (rtimes) {
        length = rtimes.length;
    }
    for (i=0; i<length; i++) {
        selecthtml += '<option value="' + rtimes[i].join("_") + '">' + rtimes[i].join("~") + 's</option>';
    }
    document.getElementById("rtime").innerHTML = selecthtml;
}

</script>
{% end %}

{% content %}
<div class="col-lg-1">
</div>
<div class="col-lg-10">
<form class="" role="form" action="/status" method="get">
<div class="row">
    <div class="col-lg-2">
    <select class="form-control" name="idc">
        <option value="">机房</option>
<script type="text/python">
    for idc, idc_cn in Tdict["idc"].iteritems():
        if idc == Tdict["qidc"]:
            echo '<option value="%s" selected="selected">%s</option>' % (idc, idc_cn)
        else:
            echo '<option value="%s">%s</option>' % (idc, idc_cn)
</script>
    </select>
    </div>
    <div class="col-lg-2">
    <select class="form-control" name="mod">
        <option value="">模块</option>
<script type="text/python">
    for mod, mod_cn in Tdict["mod"].iteritems():
        if mod == Tdict["qmod"]:
            echo '<option value="%s" selected="selected">%s</option>' % (mod, mod_cn)
        else:
            echo '<option value="%s">%s</option>' % (mod, mod_cn)
</script>
    </select>
    </div>
    <div class="col-lg-2">
    <select class="form-control" name="date">
        <option value="">日期</option>
<script type="text/python">
    for t in Tdict["dates"]:
        if t == Tdict["qdate"]:
            echo '<option value="%s" selected="selected">%s</option>' % (t, t)
        else:
            echo '<option value="%s">%s</option>' % (t, t)
</script>
    </select>
    </div>
    <div class="col-lg-3">
    <input class="form-control" id="domain" type="text" name="domain" placeholder="域名" value="{$ qdomain $}">
    </div>
    <button type="submit" class="btn btn-primary">查看</button>
    <a href="/status/custom"><button type="button" class="btn btn-success">定制</button></a>
</div>

<p>
<div class="row">
<script type="text/python">
    if Tdict["domain_status"]:
        echo '''<div class="col-lg-2"><select class="form-control" name="uri" onchange="if (this.selectedIndex) rtimeChange(this);"><option value="">请求uri</option>'''
        uris = []
        if Tdict["domain_status"].has_key("uri"):
            uris.extend(Tdict["domain_status"]["uri"])
        if Tdict["domain_status"].has_key("uri_rtime"):
            for k in Tdict["domain_status"]["uri_rtime"].iterkeys():
                if Tdict["domain_status"]["uri_rtime"][k]:
                    uris.append(k)
        for uri in set(uris):
            if uri == Tdict["quri"]:
                echo '<option value="%s" selected="selected">%s</option>' % (uri, uri)
            else:
                echo '<option value="%s">%s</option>' % (uri, uri)
        echo '</select></div>'
    rtimes = []
    if Tdict["quri"] and Tdict["domain_status"].has_key("uri_rtime"):
        rtimes = Tdict["domain_status"]["uri_rtime"].get(Tdict["quri"], [])
    elif not Tdict["quri"]:
        rtimes = Tdict["domain_status"].get("rtime", [])

    if Tdict["domain_status"]:
        echo '''<div class="col-lg-2"><select id="rtime" class="form-control" name="rtime"><option value="">处理时间</option>'''
        for rmin, rmax in rtimes:
            rtime = '_'.join([str(rmin), str(rmax)])
            rtime_s = '~'.join([str(rmin), str(rmax)]) + 's'
            if rtime == Tdict["qrtime"]:
                echo '<option value="%s" selected="selected">%s</option>' % (rtime, rtime_s)
            else:
                echo '<option value="%s">%s</option>' % (rtime, rtime_s)
        echo '</select></div>'
</script>
</div>
</p>
</form>


<!--<center><div class="alert alert-success" id="sumdata"></div></center>-->

<p>
    <input class="btn btn-default" type="button" onClick='update("week");' value="1周"></input>
    <input class="btn btn-default" type="button" onClick='update("day");' value="1天"></input>
    <input class="btn btn-default" type="button" onClick='update("4hour");' value="4小时"></input>
    <input class="btn btn-default" type="button" onClick='update("hour");' value="1小时"></input>
    <input class="btn btn-default" type="button" onClick='update("30min");' value="30分"></input>
</p>


<div id="chartContainer"></div>

<br> 

</div>
{% end %}
