{# base.html #}

{% head %}
<script type="text/javascript" src="/static/highcharts/js/highcharts.js"></script>
<script>
$(function () {
    $(document).ready(function() {
        var options = {
            chart: {
                renderTo: "chartContainer",
                type: "spline"
            },
            series: [{}]
        };
 
        var url = "/status/high/data?{$ query_string $}";
        $.getJSON(url, function(data) {
            options.series = data;
            var chart = new Highcharts.Chart(options);
        });
    });
});
</script>
{% end %}

{% content %}
<form class="well form-inline" action="/status/high" method="get">
    <select class="span2" name="idc">
        <option value="">机房</option>
<script type="text/python">
    for idc, idc_cn in Tdict["idc"].iteritems():
        if idc == Tdict["qidc"]:
            echo '<option value="%s" selected="selected">%s</option>' % (idc.encode("utf-8"), idc_cn.encode("utf-8"))
        else:
            echo '<option value="%s">%s</option>' % (idc.encode("utf-8"), idc_cn.encode("utf-8"))
</script>
    </select>
    <select class="span2" name="mod">
        <option value="">模块</option>
<script type="text/python">
    for mod, mod_cn in Tdict["mod"].iteritems():
        if mod == Tdict["qmod"]:
            echo '<option value="%s" selected="selected">%s</option>' % (mod.encode("utf-8"), mod_cn.encode("utf-8"))
        else:
            echo '<option value="%s">%s</option>' % (mod.encode("utf-8"), mod_cn.encode("utf-8"))
</script>
    </select>
    <select class="span2" name="time">
        <option value="">时间</option>
<script type="text/python">
    for t in Tdict["times"]:
        if t == Tdict["qtime"]:
            echo '<option value="%s" selected="selected">%s</option>' % (t, t)
        else:
            echo '<option value="%s">%s</option>' % (t, t)
</script>
    </select>
    <input id="domain" type="text" autocomplete="off" name="domain" placeholder="域名" style="margin: 0 auto;" data-provide="typeahead" value="{$ qdomain $}">
    <button type="submit" class="btn btn-primary">查看</button>
</form>

<div id="chartContainer"></div>

{% end %}
