{# base.html #}

{% head %}
<script type="text/javascript" src="/static/highcharts/js/highcharts.js"></script>
<script>
$(function () {
    $(document).ready(function() {
        Highcharts.theme = {
           colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'],
           chart: {
              backgroundColor: {
                 linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
                 stops: [
                    [0, 'rgb(255, 255, 255)'],
                    [1, 'rgb(240, 240, 255)']
                 ]
              },
              borderColor: '#e3e3e3',
              borderWidth: 2,
              plotBackgroundColor: 'rgba(255, 255, 255, .9)',
              plotShadow: true,
              plotBorderWidth: 1
           },
           title: {
              style: {
                 color: '#000',
                 font: '14px "Trebuchet MS", Verdana, sans-serif'
              }
           },
           subtitle: {
              style: {
                 color: '#666666',
                 font: 'bold 12px "Trebuchet MS", Verdana, sans-serif'
              }
           },
           xAxis: {
              gridLineWidth: 1,
              lineColor: '#000',
              tickColor: '#000',
              labels: {
                 style: {
                    color: '#000',
                    font: '11px Trebuchet MS, Verdana, sans-serif'
                 }
              },
              title: {
                 style: {
                    color: '#333',
                    fontWeight: 'bold',
                    fontSize: '12px',
                    fontFamily: 'Trebuchet MS, Verdana, sans-serif'
        
                 }
              }
           },
           yAxis: {
              //minorTickInterval: 'auto',
              lineColor: '#000',
              lineWidth: 1,
              tickWidth: 1,
              tickColor: '#000',
              labels: {
                 style: {
                    color: '#000',
                    font: '11px Trebuchet MS, Verdana, sans-serif'
                 }
              },
              title: {
                 style: {
                    color: '#333',
                    fontWeight: 'bold',
                    fontSize: '12px',
                    fontFamily: 'Trebuchet MS, Verdana, sans-serif'
                 }
              }
           },
           legend: {
              itemStyle: {
                 font: '9pt Trebuchet MS, Verdana, sans-serif',
                 color: 'black'
        
              },
              itemHoverStyle: {
                 color: '#039'
              },
              itemHiddenStyle: {
                 color: 'gray'
              }
           },
           labels: {
              style: {
                 color: '#99b'
              }
           },
        
           navigation: {
              buttonOptions: {
                 theme: {
                    stroke: '#CCCCCC'
                 }
              }
           }
        };

        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        Highcharts.setOptions(Highcharts.theme);

        $("#chartContainer").highcharts({
            chart: {
                type: "spline",
                plotBorderWidth: 0,
            },
            title: {
                text: "{$ title $}",
            },
            xAxis: {
                type: "datetime",
                tickPixelInterval: 150,
                dateTimeLabelFormats: {
                    day: "%m/%d %H:%M",
                }
            },
            yAxis: {
                title: {
                    text: "hit/s",
                },
                min: -2,
                startOnTick: false
            },
            credits: {
                enabled: false,
                text: ''
            },
            plotOptions: {
                spline: {
                    /*events: {
                        legendItemClick: function() {
                            location.href = "http://" + location.hostname + "/status";
                        }
                    },*/
                    marker: {
                        enabled: false
                    },
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                },
                series: {
                    cursor: "pointer",
                    turboThreshold: 3000,
                    /*events: {
                        click: function() {
                            location.href = "http://" + location.hostname + "/mon/data";
                        }
                    }*/
                },
            },
            tooltip: {
                formatter: function() {
                    return '<b>' + this.series.name + '</b><br>' + 
                    Highcharts.dateFormat('%m/%d %H:%M', this.x) + '<br/>' + 
                    Highcharts.numberFormat(this.y, 0);
                }
            },
            series: [],
        });

        var url = "/status/high_test/data?{$ query_string $}";
        addData(url, "{$ title $}");
    });
});


function addData(url, title) {
    $.getJSON(url, function(data) {
        var chart = $("#chartContainer").highcharts();
        var offset = parseInt(data[0]) * 1000,
            start = parseInt(data[1]) * 1000,
            datas = data[2],
            sumData = [],
            maxData = 0,
            maxIndex = 0;
        while (chart.series.length > 0) {
            chart.series[0].remove(true);
        }
        chart.counters.color = 0;
        chart.counters.symbol = 0;
        for (var k in datas ) {
            $.each(datas[k], function(key, val) {
                if (k == 0) {
                    maxData = Math.max.apply(Math, val);
                    maxIndex = val.indexOf(maxData.toString());
                }
                chart.addSeries({
                    name: key,
                    data: (function() {
                        var data = [],
                            len = val.length;
                        for (i=0; i<len; i++) {
                            data.push({
                                x: start + offset * i,
                                y: (val[i] ? parseInt(val[i]) : 0) / 60
                            });
                            if (k == 0) {
                                sumData.push(data[i]["y"]);
                            }
                        }
                        return data;
                    })()
                })
            });
        }
        sumData = eval(sumData.join('+')) * 60;
        sumData = numberFix(sumData * (offset / (60 * 1000)), 2);
        maxDate = dateFormat((start + maxIndex * offset) / 1000);
        if (offset / 1000 <= 60) {
            maxTime = maxDate[3] + ':' + maxDate[4];
        } else {
            maxTime = maxDate[1] + '/' + maxDate[2] + ' ' + maxDate[3] + ':' + maxDate[4];
        }
        maxData = numberFix(maxData / 60, 2);
        title = [title, maxTime, maxData, sumData].join(' ');
        chart.setTitle({"text": title});
        chart.redraw();
    });
}

function update(t) {
    var url_suffix = "";
    if (document.getElementById("domainstatus")) {
        var rtime_id = document.getElementById("rtime"),
            rtime = 'rtime=' + rtime_id.options[rtime_id.selectedIndex].value,
            uri_id = document.getElementById("uri"),
            uri = 'uri=' + uri_id.options[uri_id.selectedIndex].value,
        url_suffix = [rtime, uri].join('&');
    }
    if (url_suffix) {
        var url = "/status/high_test/data?date=" + t + "&{$ query_string $}" + '&' + url_suffix;
    } else {
        var url = "/status/high_test/data?date=" + t + "&{$ query_string $}";
    }
    addData(url, "{$ title $}");
};

function rtimeChange(obj) {
    var uri_rtime = JSON.parse('{$ domain_uri_rtime $}'),
        rtimes = uri_rtime[obj.value],
        selecthtml = '<option value="">处理时间</option>';
    var length = 0;
    if (rtimes) {
        length = rtimes.length;
    }
    for (i=0; i<length; i++) {
        selecthtml += '<option value="' + rtimes[i].join("_") + '">' + rtimes[i].join("~") + 's</option>';
    }
    document.getElementById("rtime").innerHTML = selecthtml;
}

</script>
{% end %}

{% content %}
<div class="col-lg-1">
</div>
<div class="col-lg-10">
<form class="" role="form" action="/status" method="get">
<div class="row">
    <div class="col-lg-2">
    <select class="form-control" name="idc">
        <option value="">机房</option>
<script type="text/python">
    for idc, idc_cn in Tdict["idc"].iteritems():
        if idc == Tdict["qidc"]:
            echo '<option value="%s" selected="selected">%s</option>' % (idc, idc_cn)
        else:
            echo '<option value="%s">%s</option>' % (idc, idc_cn)
</script>
    </select>
    </div>
    <div class="col-lg-2">
    <select class="form-control" name="mod">
        <option value="">模块</option>
<script type="text/python">
    for mod, mod_cn in Tdict["mod"].iteritems():
        if mod == Tdict["qmod"]:
            echo '<option value="%s" selected="selected">%s</option>' % (mod, mod_cn)
        else:
            echo '<option value="%s">%s</option>' % (mod, mod_cn)
</script>
    </select>
    </div>
    <div class="col-lg-2">
    <select class="form-control" name="date">
        <option value="">日期</option>
<script type="text/python">
    for t in Tdict["dates"]:
        if t == Tdict["qdate"]:
            echo '<option value="%s" selected="selected">%s</option>' % (t, t)
        else:
            echo '<option value="%s">%s</option>' % (t, t)
</script>
    </select>
    </div>
    <div class="col-lg-3">
    <input class="form-control" id="domain" type="text" name="domain" placeholder="域名" value="{$ qdomain $}">
    </div>
    <button type="submit" class="btn btn-primary">查看</button>
    <a href="/status/custom"><button type="button" class="btn btn-success">定制</button></a>
</div>

<p>
<div class="row">
<script type="text/python">
    if Tdict["domain_status"]:
        echo '''<div class="col-lg-2"><select class="form-control" name="uri" onchange="if (this.selectedIndex) rtimeChange(this);"><option value="">请求uri</option>'''
        uris = []
        if Tdict["domain_status"].has_key("uri"):
            uris.extend(Tdict["domain_status"]["uri"])
        if Tdict["domain_status"].has_key("uri_rtime"):
            for k in Tdict["domain_status"]["uri_rtime"].iterkeys():
                if Tdict["domain_status"]["uri_rtime"][k]:
                    uris.append(k)
        for uri in set(uris):
            if uri == Tdict["quri"]:
                echo '<option value="%s" selected="selected">%s</option>' % (uri, uri)
            else:
                echo '<option value="%s">%s</option>' % (uri, uri)
        echo '</select></div>'
    rtimes = []
    if Tdict["quri"] and Tdict["domain_status"].has_key("uri_rtime"):
        rtimes = Tdict["domain_status"]["uri_rtime"].get(Tdict["quri"], [])
    elif not Tdict["quri"]:
        rtimes = Tdict["domain_status"].get("rtime", [])

    if Tdict["domain_status"]:
        echo '''<div class="col-lg-2"><select id="rtime" class="form-control" name="rtime"><option value="">处理时间</option>'''
        for rmin, rmax in rtimes:
            rtime = '_'.join([str(rmin), str(rmax)])
            rtime_s = '~'.join([str(rmin), str(rmax)]) + 's'
            if rtime == Tdict["qrtime"]:
                echo '<option value="%s" selected="selected">%s</option>' % (rtime, rtime_s)
            else:
                echo '<option value="%s">%s</option>' % (rtime, rtime_s)
        echo '</select></div>'
</script>
</div>
</p>
</form>


<!--<center><div class="alert alert-success" id="sumdata"></div></center>-->

<p>
    <input class="btn btn-default" type="button" onClick='update("week");' value="1周"></input>
    <input class="btn btn-default" type="button" onClick='update("day");' value="1天"></input>
    <input class="btn btn-default" type="button" onClick='update("4hour");' value="4小时"></input>
    <input class="btn btn-default" type="button" onClick='update("hour");' value="1小时"></input>
    <input class="btn btn-default" type="button" onClick='update("30min");' value="30分"></input>
</p>


<div id="chartContainer"></div>

<br> 

</div>
{% end %}
