{# config.html #}

{% config %}
<script>
    function audit(version) {
        alert(version);
        $.ajax({
            type: "POST",
            url: "/config/pub/update",
            data: '{"name":"publish", "sauthor": "caoyu2", "cauthor": "caoyu2", "confirm": 1, "version":' + version + '}',
            dataType: "json",
            contentType: "application/json"
        });
    }

    function deny(version) {
        alert(version);
        $.ajax({
            type: "POST",
            url: "/config/pub/update",
            data: '{"name":"publish", "sauthor": "caoyu2", "cauthor": "caoyu2", "confirm": -1, "version":' + version + '}',
            dataType: "json",
            contentType: "application/json"
        });
    }
</script>
<legend>审核文件列表</legend>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
        <th>分组</th>
        <th>文件名</th>
        <th>创建</th>
        <th>审核</th>
        <th>下发</th>
        <th>状态</th>
        <th>操作</th>
        <tr>
    </thead>
    <tbody>
<script type="text/python">
    import time
    for pub in Tdict["pubData"]:
        if not pub.has_key("group"):
            echo '<tr><td></td>'
        else:
            echo '<tr><td>%s</td>' % pub["group"].encode('utf-8')
        echo '<td>%s</td>' % pub["file"].encode('utf-8')
        for author in ["sauthor", "cauthor", "pauthor"]:
            if not pub.has_key(author):
                echo '<td></td>'
            else:
                echo '<td>%s 于 %s</td>' % (pub[author].encode('utf-8'), time.strftime("%Y/%m/%d %H:%M:%S", time.localtime(pub[author[0] + "time"])))
        if pub["confirm"] == 0:
            echo '<td>待审核</td>'
            echo '''<td>
<button class="btn btn-success" onclick='audit("%s")'>审核</button>
<button class="btn btn-primary" onclick='deny("%s")'>打回</button>
</td></tr>''' % (pub["version"], pub["version"])
        elif pub["confirm"] == 1:
            echo '<td>审核通过</td>'
            echo '<td><button class="btn btn-success">下发</button></td></tr>'
        elif pub["confirm"] == 2:
            echo '<td>已经下发</td>'
            echo '<td><button class="btn btn-success">重开</button></td></tr>'
        elif pub["confirm"] == -1:
            echo '<td>审核不通过</td>'
            echo '<td><button class="btn btn-success">重审</button></td></tr>'
</script>
    </tbody>
</table>
{% end %}
