{# config.html #}

{% config %}
<script>
    function audit(version) {
        //alert(version);
        //if (window.confirm("确认")){
        $.ajax({
            async: false,
            type: "POST",
            url: "/config/pub/update",
            data: JSON.stringify({"name": "publish", "sauthor": "caoyu2", "cauthor": "caoyu2", "confirm": 1, "version": parseInt(version)}),
            dataType: "json",
            //success: function(){alert("send success");},
            contentType: "application/json"
        });
        window.location.reload()
        //}
        //window.setTimeout(window.location.reload(), 1000);
    }

    function deny(version) {
        //alert(version);
        //if (window.confirm("确认")){
        $.ajax({
            async: false,
            type: "POST",
            url: "/config/pub/update",
            //data: '{"name":"publish", "sauthor": "caoyu2", "cauthor": "caoyu2", "confirm": -1, "version":' + version + '}',
            data: JSON.stringify({"name":"publish", "sauthor": "caoyu2", "cauthor": "caoyu2", "confirm": -1, "version": parseInt(version)}),
            dataType: "json",
            //success: function(){alert("send success");},
            contentType: "application/json"
        });
        window.location.reload()
        //}
        //window.setTimeout(window.location.reload(), 1000);
    }

    function retry(version) {
        //alert(version);
        //if (window.confirm("确认")){
        $.ajax({
            async: false,
            type: "POST",
            url: "/config/pub/update",
            data: JSON.stringify({"name":"publish", "sauthor": "caoyu2", "cauthor": "caoyu2", "confirm": 0, "version": parseInt(version)}),
            dataType: "json",
            //success: function(){alert("send success");},
            contentType: "application/json"
        });
        window.location.reload()
        //}
        //window.setTimeout(window.location.reload(), 1000);
    }

    function cancel(version) {
        //alert(version);
        //if (window.confirm("确认")){
        $.ajax({
            async: false,
            type: "POST",
            url: "/config/pub/update",
            data: JSON.stringify({"name":"publish", "sauthor": "caoyu2", "cauthor": "caoyu2", "confirm": -2, "version": parseInt(version)}),
            dataType: "json",
            //success: function(){alert("send success");},
            contentType: "application/json"
        });
        window.location.reload()
        //}
        //window.setTimeout(window.location.reload(), 1000);
    }

    function issue(version) {
        //alert(version);
        //if (window.confirm("确认")){
        $.ajax({
            async: false,
            type: "POST",
            url: "/config/pub/update",
            data: JSON.stringify({"name":"publish", "sauthor": "caoyu2", "pauthor": "caoyu2", "confirm": 2, "version": parseInt(version)}),
            dataType: "json",
            //success: function(){alert("send success");},
            contentType: "application/json"
        });

        $.ajax({
            async: false,
            type: "POST",
            url: "/config/queue/post",
            data: JSON.stringify({"name":"queue", "pubversion": parseInt(version)}),
            dataType: "json",
            //success: function(){alert("send success");},
            contentType: "application/json"
        });
        window.location.reload()
        //}
        //window.setTimeout(window.location.reload(), 1000);
    }

    var page = $("#page").text();
    function pageBefore(page) {
        page = parseInt(page) + 1;
    }
</script>
<legend>审核文件列表</legend>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
        <th>ID</th>
        <th>分组</th>
        <th>文件名</th>
        <th>创建者</th>
        <th>创建时间</th>
        <th>审核者</th>
        <th>下发时间</th>
        <th>状态</th>
        <th>操作</th>
        <tr>
    </thead>
    <tbody>
<script type="text/python">
    import time
    for pub in Tdict["pubData"]:
        echo '<tr><td>%s</td>' % pub['version']
        echo '<td>%s</td>' % pub["group"].encode('utf-8')
        echo '<td><a href="/config/edit?name=%s&version=%s">%s</a></td>' % (pub["file"].encode('utf-8'), pub["fileversion"], pub["file"].encode('utf-8'))
        if not pub.has_key("sauthor"):
            echo '<td></td><td></td>'
        else:
            echo '<td>%s</td><td>%s</td>' % (pub["sauthor"].encode('utf-8'), time.strftime("%Y/%m/%d %H:%M:%S", time.localtime(pub["stime"])))
        if not pub.has_key("cauthor"):
            echo '<td></td>'
        else:
            echo '<td>%s</td>' % pub["cauthor"].encode('utf-8')
        if not pub.has_key("pauthor"):
            echo '<td></td>'
        else:
            echo '<td>%s</td>' % time.strftime("%Y/%m/%d %H:%M:%S", time.localtime(pub["ptime"]))
        if pub["confirm"] == 0:
            echo '<td>待审核</td>'
            echo '''<td>
<button class="btn btn-success" onclick='audit("%s")'>审核</button>
<button class="btn btn-primary" onclick='deny("%s")'>打回</button>
</td></tr>''' % (pub["version"], pub["version"])
        elif pub["confirm"] == 1:
            echo '<td>审核通过</td>'
            echo '''<td>
<button class="btn btn-success" onclick='issue("%s")'>下发</button>
<button class="btn btn-primary" onclick='cancel("%s")'>取消</button>
</td></tr>''' % (pub['version'], pub['version'])
        elif pub["confirm"] == 2:
            echo '<td>已经下发</td>'
            echo '<td><button class="btn btn-success">重开</button></td></tr>'
        elif pub["confirm"] == -1:
            echo '<td>被打回</td>'
            echo '''<td><button class="btn btn-success" onclick='retry("%s")'>重审</button></td></tr>''' % pub['version']
        elif pub["confirm"] == -2:
            echo '<td>下发取消</td><td></td>'
</script>
    </tbody>
</table>
<div class="pager pull-right">
    <ul>
<script type="text/python">
    if Tdict["page"] > 1:
        echo '''<li><a href="/config/pub?page=%s">前一页</a></li>\n''' % (Tdict["page"] - 1)

    if Tdict["pageMax"] > 1:
        echo '''<li class="disabled" id="page"><a href="">%s</a></li>\n''' % Tdict["page"]

    if Tdict["pageMax"] > 1 and Tdict["page"] != Tdict["pageMax"]:
        echo '''<li class="disabled"><a href="">...</a></li>
<li><a href="/config/pub?page=%s">%s</a></li>
<li><a href="/config/pub?page=%s">后一页</a></li>
''' % (Tdict["pageMax"], Tdict["pageMax"], Tdict["page"] + 1)
</script>
    </ul>
</div>
{% end %}
